{% extends "layouts/step.njk" %}

{% set buttonLabel = "Make payment" %}
{% set pageHeading = thisStepData.heading | default("Make payment") %}

{% block step %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Amount to pay: <strong>£{{ thisStepData.amount | default("0.00") }}</strong></p>
    <p class="govuk-body">{{ thisStepData.description }}</p>

    <div class="govuk-form-group">
      {{ govukInput({
        label: {
          text: "Name on card"
        },
        id: thisStepData.fields.cardholderName,
        name: "",
        type: "text",
        autocomplete: "cc-name",
        spellcheck: false,
        value: journeyAnswers[thisStepData.field].cardholderName
      }) }}

      {{ govukInput({
        label: {
          text: "Card number"
        },
        id: thisStepData.fields.cardNumber,
        name: "",
        type: "text",
        inputmode: "numeric",
        pattern: "[0-9]*",
        classes: "govuk-input--width-20",
        autocomplete: "cc-number",
        spellcheck: false,
        value: journeyAnswers[thisStepData.field].cardNumber
      }) }}

      {{ govukDateInput({
        id: thisStepData.fields.expiryDate,
        namePrefix: "",
        fieldset: {
          legend: {
            text: "Expiry date",
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          text: "For example, 12 24"
        },
        items: [
          {
            name: "",
            classes: "govuk-input--width-2",
            autocomplete: "cc-exp-month",
            value: journeyAnswers[thisStepData.field].expiryDate.month
          },
          {
            name: "",
            classes: "govuk-input--width-2",
            autocomplete: "cc-exp-year",
            value: journeyAnswers[thisStepData.field].expiryDate.year
          }
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "Security code"
        },
        id: thisStepData.fields.securityCode,
        name: "",
        type: "text",
        inputmode: "numeric",
        pattern: "[0-9]*",
        classes: "govuk-input--width-3",
        autocomplete: "cc-csc",
        spellcheck: false,
        hint: {
          text: "The last 3 digits on the back of the card"
        },
        value: journeyAnswers[thisStepData.field].securityCode
      }) }}
    </div>

  </div>
</div>

{% endblock %}
