{% extends "layouts/step.html" %}

{% set buttonLabel = "Accept and send" %}

{% block step %}

<dl class="govuk-summary-list">
    {% for answer in thisStepData.answers %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ answer.label }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ journeyAnswers[answer.field] }}
            </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> {{ answer.field }}</span></a>
            </dd>
        </div>
    {% endfor %}
</dl>

{% endblock %}
