{% extends "layouts/step.html" %}

{% block step %}

  {{ govukCharacterCount({
    name: thisStepFieldName,
    id: "with-hint",
    maxlength: 200,
    value: journeyAnswers[thisStepData.field],
    label: {
      text: thisStepData.question | default("Can you provide more detail?"),
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "Do not include personal or financial information like your National Insurance number or credit card details"
    }
  }) }}

{% endblock %}