{% extends "layouts/step.njk" %}

{% block step %}

<h1 class="govuk-heading-l">{{ thisStepData.heading | default("Sign in") }}</h1>

{{ govukInput({
  label: {
    text: "Email address",
    classes: "govuk-label--m"
  },
  id: "email",
  name: thisStepFieldName + "[email]",
  type: "email",
  autocomplete: "email",
  spellcheck: false,
  value: journeyAnswers[thisStepData.field].email
}) }}

{{ govukInput({
  label: {
    text: "Password",
    classes: "govuk-label--m"
  },
  id: "password", 
  name: thisStepFieldName + "[password]",
  type: "password",
  autocomplete: "current-password",
  spellcheck: false,
  value: journeyAnswers[thisStepData.field].password
}) }}

<p class="govuk-body">
  <a href="#" class="govuk-link">Forgotten your password?</a>
</p>

{% endblock %}
