{% extends "layouts/step.njk" %}

{% set defaultDateItems = defaultDateItems | default([
    {
      name: "day",
      classes: "govuk-input--width-2"
    },
    {
      name: "month",
      classes: "govuk-input--width-2"
    },
    {
      name: "year",
      classes: "govuk-input--width-4"
    }
]) %}

{% block step %}

{{ govukDateInput({
  id: "passport-issued",
  namePrefix: thisStepFieldName,
  fieldset: {
    legend: {
      text: thisStepData.question | default("When was your passport issued?"),
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: thisStepData.items | default(defaultDateItems) | setDateValues(journeyAnswers[thisStepData.field]),
  hint: {
    text: "For example, 27 3 2007"
  }
}) }}

{% endblock %}
