{% extends "./index.njk" %}

{% set defaultDateItems = [
    {
        name: "month",
        classes: "govuk-input--width-2"
    },
    {
        name: "year",
        classes: "govuk-input--width-4"
    }
] %}
